div{
  margin: 0;
  padding: 0;
}
.dashboard{
  width: 80%;
  margin: auto;
  min-height: 500px;
  color: #ACACAC;

  /*CSS grid for the dashboard*/
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px 150px 200px;
}

/*boxes styling*/
.dash-box{
  background-color: rgba(20,20,20,0.5);
  margin: 5px;
  overflow: hidden;
}
#profile{
  grid-column-start: 1;
  /* autoprefixer: off */
  grid-column-end: 2;
  grid-row-start: 1;
  /* autoprefixer: off */
  grid-row-end: 2;
}
#friends{
  grid-column-start: 1;
  /* autoprefixer: off */
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
#news-general{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  /* autoprefixer: off */
  grid-row-end: 2;
}
#new-items{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  /* autoprefixer: off */
  grid-row-end: 2;
}
#new-treasures{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  /* autoprefixer: off */
}
#watch-live{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  /* autoprefixer: off */
}
#party-box{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  /* autoprefixer: off */
  grid-row-end: 4;
}
#last-match{
  grid-column-start: 4;
  grid-column-end: 5;
  /* autoprefixer: off */
  grid-row-start: 1;
  grid-row-end: 2;
}
#offers{
  grid-column-start: 4;
  grid-column-end: 5;
  /* autoprefixer: off */
  grid-row-start: 2;
  grid-row-end: 3;
  /* autoprefixer: off */
}
#feed{
  grid-column-start: 4;
  grid-column-end: 5;
  /* autoprefixer: off */
  grid-row-start: 3;
  grid-row-end: 4;
}
