<div class="dashboard">
  <div class="side-row">
    <dash-box [heading]="mock[0].heading" [imageUrl]="mock[0].imageUrl" [bottomTitle]="mock[0].bottomTitle" [id]="mock[0].id"></dash-box>
    <dash-box [heading]="mock[1].heading" [imageUrl]="mock[1].imageUrl" [bottomTitle]="mock[1].bottomTitle" [id]="mock[1].id"></dash-box>
  </div><div class="middle-row">
    <dash-box [heading]="mock[2].heading" [imageUrl]="mock[2].imageUrl" [bottomTitle]="mock[2].bottomTitle" [id]="mock[2].id"></dash-box>
    <dash-box [heading]="mock[3].heading" [imageUrl]="mock[3].imageUrl" [bottomTitle]="mock[3].bottomTitle" [id]="mock[3].id"></dash-box>
    <dash-box [heading]="mock[4].heading" [imageUrl]="mock[4].imageUrl" [bottomTitle]="mock[4].bottomTitle" [id]="mock[4].id"></dash-box>
    <dash-box [heading]="mock[5].heading" [imageUrl]="mock[5].imageUrl" [bottomTitle]="mock[5].bottomTitle" [id]="mock[5].id"></dash-box>
    <dash-box [heading]="mock[6].heading" [imageUrl]="mock[6].imageUrl" [bottomTitle]="mock[6].bottomTitle" [id]="mock[6].id"></dash-box>
  </div><div class="side-row">
    <dash-box [heading]="mock[7].heading" [imageUrl]="mock[7].imageUrl" [bottomTitle]="mock[7].bottomTitle" [id]="mock[7].id"></dash-box>
    <dash-box [heading]="mock[8].heading" [imageUrl]="mock[8].imageUrl" [bottomTitle]="mock[8].bottomTitle" [id]="mock[8].id"></dash-box>
    <dash-box [heading]="mock[9].heading" [imageUrl]="mock[9].imageUrl" [bottomTitle]="mock[9].bottomTitle" [id]="mock[9].id"></dash-box>
  </div>
</div>
