<ul class="skewed">
  <li class="clear"><a href="#">
    <span class="glyphicon glyphicon-asterisk"></span></a></li>

  <li class="clear"><a href="#"><span class="glyphicon glyphicon-triangle-left"></span></a></li><li class="clear"><a href="#">
  <span class="glyphicon glyphicon-triangle-right"></span></a></li>

  <li class="clear"><a routerLink="/"><img src="assets/icon_dota2.png" alt="LOGO"></a></li>

  <li><a href="#">
    HEROES</a></li><li><a href="#">
  STORE</a></li><li><a href="#">
  WATCH</a></li><li><a href="#">
  LEARN</a></li><li><a href="#">
  ARCADE</a></li>

  <li id="logout" (click)="logout()" ><a href="#">LOGOUT</a></li>
</ul>
