<div style="text-align:center; padding-top: 20px">
  <h1>
    Welcome to the Dota Web Simulator!
  </h1>
  <img src="https://deadlysurprise.github.io/d2LoadingScreens/d2logo.png" alt="logo">

  <div class="row">
    <div class="land-page-box col-md-12">
      <a routerLink="/news"><h1>News</h1></a>
    </div>
  </div>
  <div class="row">

    <div class="land-page-box col-md-6">
      <a routerLink="/register"><h1>Register</h1></a>
    </div>
    <div class="land-page-box col-md-6">
      <a routerLink="/login"><h1>Login</h1></a>
    </div>
  </div>

</div>
